<section id="intro" class="mx-auto max-w-7xl p-6 py-16 md:py-24 lg:px-8">
	<div class="grid items-start justify-between gap-5 md:grid-cols-2">
		<div
			class="pr-8 text-4xl/[1.07] font-bold tracking-tight md:pr-16 md:text-5xl/[1.07]">
			<span
				class="bg-gradient-to-br from-white to-zinc-500 bg-clip-text text-transparent"
				>Who said justice has to be slow?</span
			>
		</div><div class="text-lg text-zinc-400/80">
		With Juro, simplifying legal processes is easier than ever.
		It will allow you to optimize time and make justice more accessible.
		Our intuitive AI analyzes, organizes and automates legal tasks, transforming the traditional
		system into a more efficient and modern one. Say goodbye to slow procedures and obsolete methods.
		<!-- -->
			<span class="text-zinc-200"
				>Say no to endless procedures and judicial systems designed in 1822.</span
			>
		</div>
	</div>
</section>
