<article
	class="border border-primary bg-base-200 px-5 py-7 rounded-2xl gap-2 flex flex-col">
	<h2 class="font-bold text-md text-white">STAY UPDATED</h2>
	<p class="text-sm">
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae adipisci,
	</p>
</article>
