<article class="flex flex-col items-center justify-between h-96">
	<div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas tempora
		</p>
	</div>
	<input
		type="file"
		class="file-input file-input-bordered file-input-primary w-full max-w-xs"
	/>
</article>
